.features
  padding: 10rem 0
  @include respond(phone)
    padding: 10rem 0 15rem 0
  &__titles
    display: flex
  &__title
    flex-basis: 30rem
    @include respond(laptops)
      flex-basis: 25rem
    @include respond(phone)
      margin-bottom: 4rem
      flex-basis: 30rem
  &__text
    max-width: 33rem
    margin-bottom: .2rem
    @include title-text


.tabs
  display: grid
  grid-template-columns: 30rem auto
  @include respond(laptops)
    grid-template-columns: 25rem auto
  @include respond(phone)
    grid-template-rows: 20vh 10vh
  &__content
    position: relative
    min-height: 32rem
    @include respond(laptops)
      min-height: 65rem
    @include respond(phone)
        min-height: 40vh
    &-img
      grid-row: 1 / 3
      align-self: stretch
      @include respond(laptops)
        grid-column: 1 / 3
        width: 100%
        overflow: hidden
      @include respond(phone)
        display: none
        opacity: 0
        pointer-events: none
    &-item
      display: grid
      grid-template-columns: 58rem auto
      grid-gap: 4rem
      opacity: 0
      pointer-events: none
      position: absolute
      transition: opacity .3s ease
      @include respond(laptops)
        grid-template-columns: repeat(2, 36.5rem)
        grid-template-rows: repeat(3, 20rem)
        grid-gap: 2rem
      @include respond(phone)
        grid-template-columns: 90%
        grid-template-rows: 100%
        height: 70%
      &--active
        opacity: 1
    &-box
      @include respond(laptops)
        p
          font-size: 1.6rem
      @include respond(phone)
        p
          font-size: 2rem
        grid-row-start: 2
        align-content: end
      h3
        @include h3-text
        @include respond(phone)
          font-size: 3rem


.video
  grid-column: 2 / 3
  width: 28rem
  height: 15rem
  background: url(../images/content-bg.jpg)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  display: flex
  flex-direction: column
  justify-content: end
  align-items: flex-start
  padding: .9rem 1rem
  @include respond(laptops)
    grid-row: 3 / 4
    grid-column: 2 / 3
    justify-self: end
    width: 100%
    height: 100%
  @include respond(phone)
    overflow: hidden
    grid-column: 1 / 2
    justify-self: start
    grid-row: 1 / 2
    grid-gap: 10rem
    max-width: 100%
    height: 100%
  &__btn
    margin-left: 2.2rem
    cursor: pointer
    @include respond(phone)
      width: 8rem
      height: 8rem
      position: absolute
      bottom: 3rem
  span
    font-size: 1.3rem
    color: $color-white
    @include respond(phone)
      font-size: 2rem
